@import 'master';

main {
  margin-top: 45px;
}

.tweet, #new-tweet {
  margin: 15px 10px;
  padding: 10px 15px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
}

.tweet:hover {
  background-color: $focus-background-color;
}

#id_message {
  width: calc(100% - 20px);
  position: relative;
  resize: none;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  height: 130px;
  border-radius: 10px;
  background-color: $focus-background-color;
  color: $primary-color;
  &::placeholder  {
    color: $secondary-color;
  }
}

.full-name {
  font-weight: bold;
  font-size: 20px;
}

.tweet-body {
  font-size: 20px;
}

.tweet-footer, .username {
  color: $secondary-color;
}

[class*="tweet-"] {
  margin-top: 5px;
  margin-bottom: 5px;
}
