{% extends 'base.html' %}

{% block title %}
  Iniciar sesión
{% endblock title %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/authStyle.css' %}">
{% endblock style %}

{% block main %}

  <h1>Iniciar sesión</h1>

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.email_or_username }}
    {{ form.errors.email_or_username }}
    {{ form.password }}
    {{ form.errors.password }}
    <input class="primary-btn" type="submit" value="Enviar">
    <p>
      ¿No tienes cuenta?
      <a href="{% url 'register' %}">¡Regístrate!</a>
    </p>
  </form>

{% endblock main %}

