{% extends 'base.html' %}

{% block title %}
  Regístrate
{% endblock title %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/authStyle.css' %}">
{% endblock style %}

{% block main %}

    <h1>Regístrate</h1>

    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      {{ form.username }}
      {{ form.errors.username }}
      {{ form.email }}
      {{ form.errors.email }}
      {{ form.full_name }}
      {{ form.errors.full_name }}
      {{ form.password }}
      {{ form.errors.password }}
      {{ form.confirm_password }}
      {{ form.errors.confirm_password }}
      <input class="primary-btn" type="submit" value="Enviar">
      <p>
        ¿Ya tienes cuenta?
        <a href="{% url 'login' %}">¡Inicia sesión!</a>
      </p>
    </form>
  
{% endblock main %}

