<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title %}{% endblock title %}
  </title>
  {% block style %}{% endblock style %}

</head>

<body>

  <nav>
    <span id="main-title">fakeTwitter</span>
    <span id="user-options">
      {% if request.session.user_id %}
        <a href="{% url 'logout' %}">Cerrar sesión</a>
      {% endif %}
    </span>
  </nav>

  <main>
    {% block main %}{% endblock main %}
  </main>
  
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

  {% block scripts %}{% endblock scripts %}

</body>

</html>

