{% extends 'base.html' %}

{% block title %}
  Bienvenido
{% endblock title %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'homeStyle.css' %}">
{% endblock style %}

{% block main %}
  <div class="row">
    
    <div class="left-column col-s-12 col-m-12 col-l-3 col-xl-4">
      <h2 class="arrow">&#8595;</h2>
      <div class="info">
        <p class="full-name">{{ user.full_name }}<p>
        <p class="username">@{{ user.username }}<p>
        <p id="registration-info">En fakeTwitter desde el</p>
        <p>{{ user.formatted_date }}</p>
      </div>
    </div>
    
    <div class="center-column col-s-12 col-m-8 col-l-6 col-xl-4">
    
      <div id="new-tweet">
        <form id="new-tweet-form" action="{% url 'home' %}" method="post">
          {% csrf_token %}
          {{ form.message }}
        </form>
        <button class="primary-btn" id="send-tweet">Enviar</button>
      </div>
    
      <div id="tweet-list">
        {% for tweet in tweets %}
          <div class="tweet">
            <div class="tweet-header">
              <span class="full-name">
                {{ tweet.user.full_name }}
              </span>
              <span class="username">
                @{{ tweet.user.username }}
              </span>
            </div>
            <div class="tweet-body">
              {{ tweet.message }}
            </div>
            <div class="tweet-footer">
              {{ tweet.formatted_created_at }}
            </div>
          </div>
        {% endfor %}
      </div>
    
    </div>
    
    <div class="right-column col-s-12 col-m-12 col-l-3 col-xl-4">
      <h2 class="arrow">&#8593;</h2>
      <div class="info">
        <p>Últimos inicios de sesión:</p>
        <ul>
          {% for login in user_last_logins %}
            <li>
              {{ login.formatted_datetime }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  </div>

{% endblock main %}

{% block scripts %}
  <script src="{% static 'newMessage.js' %}"></script>
{% endblock scripts %}

