{% extends 'base.html' %}

{% block title %}
  Iniciar sesión
{% endblock title %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'authStyle.css' %}">
{% endblock style %}

{% block main %}
  <div class="row">

    <div class="col-m-1"></div>
      
    <div class="col-m-10">
      <h1>Iniciar sesión</h1>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.email_or_username }}
        {{ form.password }}
        <input class="primary-btn" type="submit" value="Enviar">
        <p>
          ¿No tienes cuenta?
          <a href="{% url 'register' %}">¡Regístrate!</a>
        </p>
      </form>
    </div>

    <div class="col-m-1"></div>

  </div>
{% endblock main %}

